@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
*,
*:after *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#body {
  font-family: "Cute Font";
  background-color: #00225C;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 98%;
  top: 0;
  left: 0;
  padding: 10px 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header a .logo {
  width: 90px;
  height: 90px;
  pointer-events: none;
  margin-left: 10px;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header ul li {
  list-style: none;
  margin-left: 8px;
  font-size: 30px;
}

#header ul a {
  text-decoration: none;
  padding: 4px 2px;
  color: #ffffff;
  font-size: 30px;
}

#end {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

#web3connect {
  width: 90px;
  border-radius: 15px;
  margin-left: 3px;
  font-size: 25px;
}

#nft-balance {
  margin-top: 200px;
}

#container {
  float: left;
  max-width: 25%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
}

#card {
  background-color: #214c85;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  font-size: 15px;
}

#card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.9;
}

#nftimg {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#card h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#card h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#card p {
  text-align: center;
}

#card a {
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#create-div {
  margin-top: 100px;
  margin-bottom: 200px;
}

#meme-image {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 10px;
}

#meme-content {
  max-width: 100%;
}

#meme-card {
  background-color: #214c85;
  float: left;
  max-width: 9%;
  border-radius: 10px;
  margin-left: 1.40%;
  margin-bottom: 10px;
}

#meme-card:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0.9;
}

#select {
  width: 200px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#selected-img {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-bottom: 20px;
}

#sendbtn {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#meme-div {
  margin-top: 200px;
}

.meme-make-div {
  margin-top: 50px;
  margin: auto;
  width: 50%;
}

#make {
  position: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

#textarea_field {
  height: 250px;
  font-size: 20px;
}

#name_field {
  font-size: 20px;
}

#Submit {
  margin-left: 10px;
  width: 100px;
}

#index-main {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}

#yt-vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#market-area {
  margin-top: 200px;
}

#mcontainer {
  float: left;
  max-width: 25%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
}

#mcard {
  background-color: #214c85;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  font-size: 15px;
}

#mcard:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.9;
}

#mcard h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mcard h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#mcard p {
  text-align: center;
}

#mcard a {
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
/*# sourceMappingURL=main.css.map */